body {
    font-family: cursive;
    font-size: 16px;
    background-color: #800000; 
    color:white;
    padding: 50px;
}

#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color:  #003300;
    border-radius: 0 0 5px 5px;
	
}
#clockdiv {
    font-family: cursive;
    
    color: white;
    font-size: 60px;
	
}

h1 {
    font-family: cursive;
    
    color: white;
    font-size: 60px;
}


ckground-color: #003300;
}